.recipe-detail {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #007f6629;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

}

.recipe-detail h2 {
    background-color: #009879;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.recipe-section {
    margin-top: 20px;
}

.recipe-section h3 {
    color: #005d4b;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.recipe-section ol {
    list-style-position: inside;
    padding-left: 0;
    text-align: left;
}

.recipe-section li {
    margin-bottom: 5px;
}

button {
    margin-left: 0;
}

.back-button {
    border: 2px solid #009879;
    border-radius: 10px;
    background-color: white;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    color: black;
}

.back-button:hover {
    background-color: #00987a51;
}
