form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #007f6629;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

label span {
    font-weight: bold;
    width: 25%;
    text-align: left;
    align-self: baseline;
    color: #005d4b;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    /* margin-bottom: 10px; */
    border: 1px solid #ddd;
    border-radius: 4px;
}

textarea {
    min-height: 150px;
}

textarea:hover :focus-visible {
    border-color: #007f66;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    background-color: #009879;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #007f66;
}


.error {
    color: red;
    font-size: 0.7em;
    margin-top: -10px;
    margin-bottom: 10px;
}